.checkout{
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    min-height: 48%;
}
.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}
.checkout__title{
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.checkout > p {
    font-size: 36px;
}

@media screen and (max-width: 699px){
    .checkout{
        flex-direction: column-reverse;
        align-items: center;
    }

}
